@inherits LayoutComponentBase

<header>
    <div class="bg-yellow-900 py-8 px-14">
        <span class="tracking-widest text-4xl font-bold">Dan Rosenberg Mikkelsted</span>
        <span>Distinguished Software Engineer</span>
    </div>
</header>

<main>
    <article class="content px-4">
        @Body
    </article>

    <div class="sidebar">
        
    </div>
</main>



<div id="blazor-error-ui" class="hidden">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
